.left {
  margin-right: 1rem;
}

.right {
  justify-content: center;
  margin-right: 0.2rem;
}

.game-hiscore {
  background-color: #01B66A;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.5rem;
}

.row {
  height: 25px;
}

.column {
  border: 1px solid rgba(192, 191, 191, 0.192);
  width: 25px;
  height: 25px;
  display: inline-block;
}

.disable-clicks {
  pointer-events: none;
}

.new-best-score {
  animation: glow .5s infinite alternate;
}

@keyframes glow {
  to {
    text-shadow: 0 0 15px #ffff00;
  }
}

.game-container { 
  background-color: #6C19FF;
  padding: 10px;
  border-radius: 5px;
}