<mat-toolbar class="my-navbar">
    <div>
        <b class="navbar-title">Sala de juegos</b>
        <button mat-raised-button (click)="goTo('home')" class="btn-link" style="margin: 5px;"
            *ngIf="token!=null">Inicio</button>
    </div>
    <div>
        <button mat-raised-button (click)="goTo('logout')" class="btn-logout" *ngIf="token!=null">Salir</button>
        <button mat-raised-button (click)="goTo('login')" class="btn-link" style="margin: 10px;"
            *ngIf="token==null">Iniciar sesión</button>
    </div>
</mat-toolbar>

<div align='center'>
    <br>
    <br>
    <mat-card class="my-card">
        <mat-card-content>
            <img class="d-block mx-auto mb-4 rounded-circle profile-img" src="../../../assets/profile.png"
                alt="foto de perfil" width="200" height="200">
            <h1>¡Hola!</h1>
            <p>Soy Alejandra Texis, estudiante de UTN FRA.</p>
            <a href="https://github.com/aletexis" target="_blank"><i class="fab fa-github"></i></a>
            <h2>Juego propio: Snake</h2>
            <p>Una serpiente se mueve adentro de una caja y trata de comerse una manzana. Una vez que se come la
                manzana, la serpiente crece de largo y se
                mueve más rápido. El juego termina una vez que la serpiente se choca con sí misma o con
                cualquiera de las cuatro paredes.</p>
        </mat-card-content>
    </mat-card>
</div>