<body>
  <mat-toolbar class="my-navbar">
    <div>
      <b class="navbar-title">Sala de juegos</b>
      <button mat-raised-button (click)="goTo('home')" class="btn-link" style="margin: 5px;">Inicio</button>
    </div>
    <div>
      <button mat-raised-button (click)="goTo('login')" class="btn-logout">Salir</button>
    </div>
  </mat-toolbar>

  <br>

  <div align='center'>
    <mat-card class="game-card">

      <h2 class="game-title">Preguntados</h2>
      
      <div *ngIf="gameStarted">
        <mat-spinner *ngIf="!this.chosenCountry"></mat-spinner>
      </div>

      <div class="game" *ngIf="gameStarted">
        <div class="left">
          <div class="game-question" *ngIf="this.chosenCountry">
            Adiviná el país al que pertenece esta bandera
          </div>

          <div>
            <img id="chosenCountryId" class="game-img" *ngIf="this.chosenCountry" [src]="chosenCountry.flags.png"
              alt="Bandera.">
          </div>

          <div *ngFor="let countryOption of countryOptions">
            <button mat-raised-button type="button" class="btn game-options"
              (click)="chooseCountry(countryOption)">{{countryOption.translations.spa.official}}</button>
          </div>
        </div>

        <div class="right">
          <div class="game-score" *ngIf="this.chosenCountry">Puntos: {{score}}</div>
          <app-chat-preguntados *ngIf="this.chosenCountry"></app-chat-preguntados>
        </div>
      </div>

      <div *ngIf="!gameStarted">
        <button mat-raised-button class="btn-new-game" (click)="newGame()">
          Nuevo juego</button>
      </div>

    </mat-card>
  </div>
</body>