<body>
    <mat-toolbar class="my-navbar">
        <div>
            <b class="navbar-title">Sala de juegos</b>
            <button mat-raised-button (click)="goHome()" class="btn-link" style="margin: 5px;">Inicio</button>
        </div>
        <div>
            <button mat-raised-button (click)="logout()" class="btn-logout">Salir</button>
        </div>
    </mat-toolbar>
    <br>


    <div align='center'>
        <mat-card class="my-card">

            <h2 class="game-title">Ahorcado</h2>

            <div class="game" *ngIf="gameStarted">

                <div class="game-score">
                    Puntos: {{score}}
                </div>

                <br>

                <div class="game-tries">
                    Intentos restantes: {{this.tries}}
                </div>

                <div class="card">
                    <img class="card-img" src='../../../assets/ahorcado/ahorcado_{{this.pictureNumber}}.png'>
                </div>

                <div class="card-lines" *ngFor="let item of dashes">
                    {{item}}
                </div>

                <br>

                <button class="btn text-center shadow card-letters" *ngFor="let letter of letters"
                    (click)="selectLetter(letter)"> {{ letter }}
                </button>

            </div>

            <div *ngIf="!gameStarted">
                <button mat-raised-button class="btn-new-game" (click)="newGame()">
                    Nuevo juego</button>
            </div>

            <div>
                <app-chat-ahorcado></app-chat-ahorcado>
            </div>

        </mat-card>
    </div>
</body>