@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

.row {
  height: 18px;
}

.column {
  border: 1px solid rgba(192, 191, 191, 0.192);
  width: 24px;
  height: 24px;
  display: inline-block;
}

.disable-clicks {
  pointer-events: none;
}

.new-best-score {
  animation: glow .5s infinite alternate;
}

@keyframes glow {
  to {
    text-shadow: 0 0 15px #ffff00;
  }
}

@media screen and (max-width: 480px) {
  .game-container {
    width: 100%;
  }

  .column {
    width: 5.55%;
    height: 0;
    padding-bottom: 5.06%;
    box-sizing: border-box;
  }

  .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 0;
    padding-bottom: 5.5%;
  }

  .start-button.new-game-button {
    margin: 0 15% 1% 15%;
  }

  @-moz-document url-prefix() {
    .column {
      min-height: 5.5vw;
    }
  }
}

.my-navbar {
  justify-content: space-between;
  background-color: #222831;
}

.navbar-title {
  margin: 15px;
  color: aliceblue;
  font-size: 15px;
}

.btn-link {
  background-color: #6C19FF;
  color: aliceblue;
  font-weight: bold;
}

.btn-logout {
  background-color: #F55376;
  color: aliceblue;
  font-weight: bold;
}

.my-card {
  max-width: 700px;
  background-color: #222831;
}

.game-title {
  font-weight: bold;
  color: aliceblue;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-new-game {
  background-color: #01B66A;
  color: aliceblue;
  font-weight: bold;
}

.game-score {
  background-color: #00B3D7;
  color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

.game-hiscore {
  background-color: #01B66A;
  color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}