<mat-toolbar class="my-navbar">
    <div>
        <b class="navbar-title">Sala de juegos</b>
        <button mat-raised-button (click)="goTo('home')" class="btn-link" style="margin: 5px;">Inicio</button>
    </div>
    <div>
        <button mat-raised-button (click)="goTo('login')" class="btn-logout">Salir</button>
    </div>
</mat-toolbar>
<br>


<div align='center'>
    <mat-card class="game-card">

        <h2 class="game-title">Ahorcado</h2>

        <div class="game" *ngIf="gameStarted">

            <div class="left">
                <img class="game-img" src='../../../assets/ahorcado/ahorcado_{{this.pictureNumber}}.png'>

                <div class="game-dashes" *ngFor="let item of dashes">
                    {{item}}
                </div>

                <br>

                <button class="btn text-center shadow game-letters hvr-grow" *ngFor="let letter of letters"
                    (click)="selectLetter(letter)"> {{ letter }}
                </button>
            </div>

            <div class="right">
                <div class="game-score">Puntos: {{score}}</div>
                <div class="game-tries">Intentos: {{this.tries}}</div>
                <app-chat-ahorcado></app-chat-ahorcado>
            </div>
        </div>

        <div *ngIf="!gameStarted">
            <button mat-raised-button class="btn-new-game" (click)="newGame()">
                Nuevo juego</button>
        </div>
    </mat-card>
</div>