* {
  color: whitesmoke;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-card {
  max-width: 500px;
  background-color: #222831;
}

.title {
  font-weight: bold;
  color: whitesmoke;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.subtitle {
  margin: 1.8rem 0;
}

.text-danger {
  color: #F44336;
}

option {
  color: #222831;
}

.mat-list-base .mat-list-option {
  color: whitesmoke;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 5rem;
}

.btn-enviar {
  font-size: 16px;
  height: auto;
  width: auto;
  margin: 1rem 0;
}