<mat-toolbar class="my-navbar">
  <button mat-raised-button routerLink="../registro" class="btn-link">Registrarse</button>
  <button mat-raised-button routerLink="../quiensoy" class="btn-link" style="margin: 10px;">Sobre mi</button>
</mat-toolbar>


<div>
    <br>
    <div align=center>
      <mat-card class="animate__animated animate__backInDown">
        <h1 class="card-title">SALA DE JUEGOS</h1>

        <p>
          <mat-form-field appearance="legacy" class="card-form-field">
            <mat-label>Correo</mat-label>
            <input (keyup.enter)="Login()" matInput [(ngModel)]="unUsuario.correo" id="inputCorreo"
              required>
            <mat-error *ngIf="correo.invalid">{{getErrorMessageCorreo()}}</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy" class="card-form-field">
            <mat-label>Contraseña</mat-label>
            <input (keyup.enter)="Login()" matInput type="password"
              [(ngModel)]="unUsuario.clave" required>
            <mat-error *ngIf="clave.invalid">{{getErrorMessageClave()}}</mat-error>
          </mat-form-field>
        </p>

        <button mat-raised-button class="btn-login" (click)="Login()">Iniciar sesión</button>
        <br>
        <button mat-raised-button class="btn-fast-login" (click)="LoginRapido()">Inicio rápido</button>

      </mat-card>
      <router-outlet></router-outlet>
    </div>
</div>