@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
  color: aliceblue;
}

.my-navbar {
  justify-content: space-between;
  background-color: #222831;
}

.navbar-title {
  margin: 15px;
  color: aliceblue;
  font-size: 15px;
}

.btn-link {
  background-color: #6C19FF;
  color: aliceblue;
  font-weight: bold;
}

.btn-logout {
  background-color: #F55376;
  color: aliceblue;
  font-weight: bold;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-card {
  max-width: 500px;
  background-color: #222831;
}

.title {
  font-weight: bold;
  color: aliceblue;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

option {
  color: #222831;
}

.mat-list-base .mat-list-option {
  color: aliceblue;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.btn-enviar {
  font-size: 16px;
  height: auto;
  width: auto;
}