<body>

  <mat-toolbar class="my-navbar">
    <div>
      <b class="navbar-title">Sala de juegos</b>
      <button mat-raised-button (click)="goHome()" class="btn-link" style="margin: 5px;">Inicio</button>
    </div>
    <div>
      <button mat-raised-button (click)="logout()" class="btn-logout">Salir</button>
    </div>
  </mat-toolbar>

  <br>

  <div align='center'>
    <mat-card class="my-card">

      <h2 class="game-title">Preguntados</h2>
      <!-- <p>{{mensajeJugador}}</p> -->

      <div class="game" *ngIf="gameStarted">
        
        <div class="game-score" *ngIf="this.chosenCountry">
          Puntos: {{score}}
        </div>

        <div class="game-question" *ngIf="this.chosenCountry">
          Adiviná el país al que pertenece esta bandera
        </div>

        <div>
          <img class="game-img" [src]="chosenCountry.flags.png" alt="No se pudo cargar la bandera. F5 (varias veces) o volver al Inicio y reintentar.">
        </div>

        <div *ngFor="let countryOption of countryOptions">
          <button mat-raised-button type="button" class="btn btn-options"
            (click)="chooseCountry(countryOption)">{{countryOption.translations.spa.official}}</button>
        </div>
      </div>

      <div *ngIf="!gameStarted">
        <button mat-raised-button class="btn-new-game" (click)="newGame()">
          Nuevo juego</button>
      </div>
     
      <div>
        <app-chat-preguntados></app-chat-preguntados>
      </div>

    </mat-card>
  </div>

</body>